# Dependencies
node_modules
npm-debug.log

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Git
.git
.gitignore

# Environment variables
.env
.env.*

# Documentation and other files
README.md
LICENSE
